In [3]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.feature_extraction import DictVectorizer
from sklearn.model_selection import train_test_split
from sklearn import preprocessing, tree
from sklearn.utils import shuffle
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [81]:
_diseases = ["stroke", "heart_attack", "diabetes", "cancer", "kidney_disease", "ang_or_chd"]

In [82]:
#Create dataframes containing data for people who did and didn't develop x diseases
#Probably don't merge data frames (could be done at a later stage but probably doesn't work in our timeframe, requires too much data cleaning)

In [83]:
#Create a model to predict based off all of the features in the dataset for each disease
#Proabably use a neural network? Some kind of ensemble learning method

In [84]:
#Create models to impute missing input features based on the features that the user does provide
#Develop a confidence interval for the missing values, create an input vector with each quartile (?) from the confidence interval

In [85]:
#Take in user input
#Predict likelihood of development of each disease
#Use each input vector if we had to create a confidence interval imputation for missing data
#Create a confidence interval for likelhood of developing disease

In [86]:
#Determine which of the features contributed the most (?) to the likelihood of the more likely diseases
#Make recommendations for how to reduce the likelhiood of the diseases based on these features

In [87]:
df = pd.read_csv("2015.csv")
df = df[["BPHIGH4", "BPMEDS", "SEX", "TOLDHI2", "CVDINFR4", "CVDSTRK3", "DIABETE3", "WEIGHT2", "HEIGHT3", "SMOKE100", "SMOKDAY2", "DRNK3GE5", "_AGE80", "_FRUTSUM", "_VEGESUM", "_PA150R2", "_RACE", "CHCOCNCR", "CHCKIDNY", "CVDCRHD4"]]
df.head()

,BPHIGH4,BPMEDS,SEX,TOLDHI2,CVDINFR4,CVDSTRK3,DIABETE3,WEIGHT2,HEIGHT3,SMOKE100,SMOKDAY2,DRNK3GE5,_AGE80,_FRUTSUM,_VEGESUM,_PA150R2,_RACE,CHCOCNCR,CHCKIDNY,CVDCRHD4
0,1.0,1.0,2.0,1.0,2.0,2.0,3.0,280.0,510.0,1.0,3.0,NaN,63.0,50.0,217.0,3.0,1.0,2.0,2.0,2.0
1,3.0,NaN,2.0,2.0,2.0,2.0,3.0,165.0,508.0,1.0,1.0,NaN,52.0,24.0,78.0,1.0,1.0,2.0,2.0,2.0
2,3.0,NaN,2.0,1.0,7.0,1.0,3.0,158.0,511.0,NaN,NaN,NaN,71.0,NaN,NaN,9.0,1.0,1.0,2.0,2.0
3,1.0,1.0,2.0,1.0,2.0,2.0,3.0,180.0,507.0,2.0,NaN,NaN,63.0,100.0,20.0,3.0,1.0,1.0,2.0,2.0
4,3.0,NaN,2.0,2.0,2.0,2.0,3.0,142.0,504.0,2.0,NaN,NaN,61.0,NaN,200.0,3.0,1.0,2.0,2.0,2.0

In [11]:
df = df[df["HEIGHT3"] != 7777.0]
df = df[df["HEIGHT3"] != 9999.0]
df = df[df["WEIGHT2"] != 7777.0]
df = df[df["WEIGHT2"] != 9999.0]

In [12]:
df.describe()

,BPHIGH4,BPMEDS,SEX,TOLDHI2,CVDINFR4,CVDSTRK3,DIABETE3,WEIGHT2,HEIGHT3,SMOKE100,SMOKDAY2,DRNK3GE5,_AGE80,_FRUTSUM,_VEGESUM,_PA150R2,_RACEGR3
count,412999.000000,166838.000000,413000.000000,358034.000000,413000.000000,413000.000000,412993.000000,407685.000000,407369.000000,400846.000000,175276.000000,201379.000000,413000.000000,3.755700e+05,3.689370e+05,413000.000000,413000.000000
mean,2.206155,1.173641,1.560460,1.623659,1.965128,1.971663,2.756938,196.126544,555.154678,1.598976,2.432849,67.468837,55.433254,1.361374e+02,1.943727e+02,2.546293,1.652012
std,1.027882,0.445738,0.496332,0.718881,0.426887,0.334988,0.714990,397.807382,562.901366,0.701376,0.881476,36.053693,17.132764,1.375521e+02,1.549042e+02,2.409574,1.472622
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,50.000000,204.000000,1.000000,1.000000,1.000000,18.000000,5.397605e-79,5.397605e-79,1.000000,1.000000
25%,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,3.000000,145.000000,504.000000,1.000000,2.000000,77.000000,43.000000,5.700000e+01,1.100000e+02,1.000000,1.000000
50%,3.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,172.000000,507.000000,2.000000,3.000000,88.000000,58.000000,1.000000e+02,1.680000e+02,2.000000,1.000000
75%,3.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,200.000000,510.000000,2.000000,3.000000,88.000000,69.000000,2.000000e+02,2.430000e+02,3.000000,1.000000
max,9.000000,9.000000,2.000000,9.000000,9.000000,9.000000,9.000000,9501.000000,9503.000000,9.000000,9.000000,99.000000,80.000000,1.500000e+04,1.992900e+04,9.000000,9.000000

In [13]:
def fix_height(height):
    if height <= 711:
        feet = height // 100
        inches = height % 100 + 12 * feet
    else:
        meters = height // 100
        centimeters = height % 100 + 12 * meters
        inches = centimeters / 2.54
    return inches

In [14]:
def fix_weight(weight):
    if weight <= 999:
        lbs = weight
    else:
        kilos = weight - 9000
        lbs = kilos / 2.2
    return lbs

In [15]:
df["height"] = df["HEIGHT3"].apply(fix_height)
df["weight"] = df["WEIGHT2"].apply(fix_weight)
df.drop(["HEIGHT3", "WEIGHT2"], axis = 1, inplace = True)
df.head()

,BPHIGH4,BPMEDS,SEX,TOLDHI2,CVDINFR4,CVDSTRK3,DIABETE3,SMOKE100,SMOKDAY2,DRNK3GE5,_AGE80,_FRUTSUM,_VEGESUM,_PA150R2,_RACEGR3,height,weight
0,1.0,1.0,2.0,1.0,2.0,2.0,3.0,1.0,3.0,NaN,63.0,50.0,217.0,3.0,1.0,70.0,280.0
1,3.0,NaN,2.0,2.0,2.0,2.0,3.0,1.0,1.0,NaN,52.0,24.0,78.0,1.0,1.0,68.0,165.0
2,3.0,NaN,2.0,1.0,7.0,1.0,3.0,NaN,NaN,NaN,71.0,NaN,NaN,9.0,1.0,71.0,158.0
3,1.0,1.0,2.0,1.0,2.0,2.0,3.0,2.0,NaN,NaN,63.0,100.0,20.0,3.0,1.0,67.0,180.0
4,3.0,NaN,2.0,2.0,2.0,2.0,3.0,2.0,NaN,NaN,61.0,NaN,200.0,3.0,1.0,64.0,142.0

In [60]:
df.rename({"_AGE80": "age", "CVDINFR4": "heart_attack", "CVDSTRK3": "stroke", "BPHIGH4": "high_bp", "BPMEDS": "bp_meds", "TOLDHI2": "high_chol", "_RACE": "race"}, axis = 1, inplace = True)
df.head()

,high_bp,bp_meds,sex,high_chol,heart_attack,stroke,diabetes,smoke_100,smoke_freq,drinking,age,daily_fruit,daily_veg,weekly_phys,race,height,weight,BMI
0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0,3.0,0.0,63.0,0.50,2.17,3.0,1.0,70.0,280.0,40.259821
1,3.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,52.0,0.24,0.78,1.0,1.0,68.0,165.0,25.140621
3,1.0,1.0,2.0,1.0,0.0,0.0,0.0,2.0,3.0,0.0,63.0,1.00,0.20,3.0,1.0,67.0,180.0,28.250932
5,1.0,1.0,2.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,73.0,2.00,6.00,1.0,1.0,62.0,145.0,26.576299
6,1.0,1.0,2.0,1.0,0.0,0.0,0.0,2.0,3.0,0.0,70.0,1.29,1.14,1.0,4.0,66.0,148.0,23.937772

In [61]:
df.rename({"DIABETE3": 'diabetes', "SEX": "sex", "SMOKE100": "smoke_100", "SMOKDAY2": "smoke_freq", "DRNK3GE5": 'drinking', "_FRUTSUM": "daily_fruit", "_VEGESUM": "daily_veg", "_PA150R2": "weekly_phys"}, inplace = True, axis = 1)
df.head()

,high_bp,bp_meds,sex,high_chol,heart_attack,stroke,diabetes,smoke_100,smoke_freq,drinking,age,daily_fruit,daily_veg,weekly_phys,race,height,weight,BMI
0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0,3.0,0.0,63.0,0.50,2.17,3.0,1.0,70.0,280.0,40.259821
1,3.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,52.0,0.24,0.78,1.0,1.0,68.0,165.0,25.140621
3,1.0,1.0,2.0,1.0,0.0,0.0,0.0,2.0,3.0,0.0,63.0,1.00,0.20,3.0,1.0,67.0,180.0,28.250932
5,1.0,1.0,2.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,73.0,2.00,6.00,1.0,1.0,62.0,145.0,26.576299
6,1.0,1.0,2.0,1.0,0.0,0.0,0.0,2.0,3.0,0.0,70.0,1.29,1.14,1.0,4.0,66.0,148.0,23.937772

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296927 entries, 0 to 441455
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   high_bp       296927 non-null  float64
 1   bp_meds       296927 non-null  float64
 2   sex           296927 non-null  float64
 3   high_chol     296927 non-null  float64
 4   heart_attack  296927 non-null  float64
 5   stroke        296927 non-null  float64
 6   diabetes      296927 non-null  float64
 7   smoke_100     296927 non-null  float64
 8   smoke_freq    296927 non-null  float64
 9   drinking      296927 non-null  float64
 10  age           296927 non-null  float64
 11  daily_fruit   296927 non-null  float64
 12  daily_veg     296927 non-null  float64
 13  weekly_phys   296927 non-null  float64
 14  race          296927 non-null  float64
 15  height        296927 non-null  float64
 16  weight        296927 non-null  float64
 17  BMI           296927 non-null  float64
dtypes: float64(18)
memory usage: 43.0 MB

In [63]:
df.describe()

,high_bp,bp_meds,sex,high_chol,heart_attack,stroke,diabetes,smoke_100,smoke_freq,drinking,age,daily_fruit,daily_veg,weekly_phys,race,height,weight,BMI
count,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,2.969270e+05,2.969270e+05,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000
mean,2.134733,1.629138,1.574360,1.573501,0.062931,0.042812,0.168186,1.559673,2.773345,0.473514,57.593041,1.374188e+00,1.972965e+00,1.719487,1.552947,66.767347,179.994532,28.333837
std,1.003671,0.483036,0.494441,0.494569,0.242840,0.202433,0.374032,0.496427,0.602512,2.407998,15.381330,1.130886e+00,1.326744e+00,0.860221,1.354358,4.097215,47.575121,6.640913
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,18.000000,5.397605e-81,5.397605e-81,1.000000,1.000000,32.000000,15.454545,3.012282
25%,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,47.000000,5.700000e-01,1.140000e+00,1.000000,1.000000,64.000000,148.000000,24.081192
50%,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,60.000000,1.030000e+00,1.710000e+00,1.000000,1.000000,66.000000,175.000000,27.319164
75%,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,69.000000,2.000000e+00,2.490000e+00,3.000000,1.000000,70.000000,200.000000,31.258831
max,4.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,3.000000,30.000000,80.000000,1.900000e+01,1.950000e+01,3.000000,9.000000,91.000000,700.000000,182.329022

In [64]:
df = df[df["height"] <= 96]
df = df[df["weight"] <= 998]
df.describe()

,high_bp,bp_meds,sex,high_chol,heart_attack,stroke,diabetes,smoke_100,smoke_freq,drinking,age,daily_fruit,daily_veg,weekly_phys,race,height,weight,BMI
count,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,2.969270e+05,2.969270e+05,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000
mean,2.134733,1.629138,1.574360,1.573501,0.062931,0.042812,0.168186,1.559673,2.773345,0.473514,57.593041,1.374188e+00,1.972965e+00,1.719487,1.552947,66.767347,179.994532,28.333837
std,1.003671,0.483036,0.494441,0.494569,0.242840,0.202433,0.374032,0.496427,0.602512,2.407998,15.381330,1.130886e+00,1.326744e+00,0.860221,1.354358,4.097215,47.575121,6.640913
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,18.000000,5.397605e-81,5.397605e-81,1.000000,1.000000,32.000000,15.454545,3.012282
25%,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,47.000000,5.700000e-01,1.140000e+00,1.000000,1.000000,64.000000,148.000000,24.081192
50%,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,60.000000,1.030000e+00,1.710000e+00,1.000000,1.000000,66.000000,175.000000,27.319164
75%,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,69.000000,2.000000e+00,2.490000e+00,3.000000,1.000000,70.000000,200.000000,31.258831
max,4.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,3.000000,30.000000,80.000000,1.900000e+01,1.950000e+01,3.000000,9.000000,91.000000,700.000000,182.329022

In [65]:
df["smoke_freq"].fillna(3, inplace = True)
df["bp_meds"].fillna(2, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296927 entries, 0 to 441455
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   high_bp       296927 non-null  float64
 1   bp_meds       296927 non-null  float64
 2   sex           296927 non-null  float64
 3   high_chol     296927 non-null  float64
 4   heart_attack  296927 non-null  float64
 5   stroke        296927 non-null  float64
 6   diabetes      296927 non-null  float64
 7   smoke_100     296927 non-null  float64
 8   smoke_freq    296927 non-null  float64
 9   drinking      296927 non-null  float64
 10  age           296927 non-null  float64
 11  daily_fruit   296927 non-null  float64
 12  daily_veg     296927 non-null  float64
 13  weekly_phys   296927 non-null  float64
 14  race          296927 non-null  float64
 15  height        296927 non-null  float64
 16  weight        296927 non-null  float64
 17  BMI           296927 non-null  float64
dtypes: float64(18)
memory usage: 43.0 MB

In [66]:
df["drinking"].fillna(88, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296927 entries, 0 to 441455
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   high_bp       296927 non-null  float64
 1   bp_meds       296927 non-null  float64
 2   sex           296927 non-null  float64
 3   high_chol     296927 non-null  float64
 4   heart_attack  296927 non-null  float64
 5   stroke        296927 non-null  float64
 6   diabetes      296927 non-null  float64
 7   smoke_100     296927 non-null  float64
 8   smoke_freq    296927 non-null  float64
 9   drinking      296927 non-null  float64
 10  age           296927 non-null  float64
 11  daily_fruit   296927 non-null  float64
 12  daily_veg     296927 non-null  float64
 13  weekly_phys   296927 non-null  float64
 14  race          296927 non-null  float64
 15  height        296927 non-null  float64
 16  weight        296927 non-null  float64
 17  BMI           296927 non-null  float64
dtypes: float64(18)
memory usage: 43.0 MB

In [67]:
df.dropna(inplace = True)

In [68]:
df["BMI"] = df["weight"] / 2.2 / (df["height"] * 0.0254) ** 2
df.head()

,high_bp,bp_meds,sex,high_chol,heart_attack,stroke,diabetes,smoke_100,smoke_freq,drinking,age,daily_fruit,daily_veg,weekly_phys,race,height,weight,BMI
0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0,3.0,0.0,63.0,0.50,2.17,3.0,1.0,70.0,280.0,40.259821
1,3.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,52.0,0.24,0.78,1.0,1.0,68.0,165.0,25.140621
3,1.0,1.0,2.0,1.0,0.0,0.0,0.0,2.0,3.0,0.0,63.0,1.00,0.20,3.0,1.0,67.0,180.0,28.250932
5,1.0,1.0,2.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,73.0,2.00,6.00,1.0,1.0,62.0,145.0,26.576299
6,1.0,1.0,2.0,1.0,0.0,0.0,0.0,2.0,3.0,0.0,70.0,1.29,1.14,1.0,4.0,66.0,148.0,23.937772

In [69]:
df["drinking"].replace({88: 0}, inplace = True)
df = df[df["high_bp"] // 6.0 < 1]
df = df[df["high_chol"] // 6.0 < 1]
df = df[df["smoke_100"] // 6.0 < 1]
df = df[df["smoke_freq"] // 6.0 < 1]
df = df[df["heart_attack"] // 6.0 < 1]
df = df[df["stroke"] // 6.0 < 1]
df = df[df["diabetes"] // 6.0 < 1]
df = df[df["weekly_phys"] // 6.0 < 1]
df["daily_veg"] = df["daily_veg"] / 100
df["daily_fruit"] = df["daily_fruit"] / 100
df.describe()

,high_bp,bp_meds,sex,high_chol,heart_attack,stroke,diabetes,smoke_100,smoke_freq,drinking,age,daily_fruit,daily_veg,weekly_phys,race,height,weight,BMI
count,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,2.969270e+05,2.969270e+05,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000
mean,2.134733,1.629138,1.574360,1.573501,0.062931,0.042812,0.168186,1.559673,2.773345,0.473514,57.593041,1.374188e-02,1.972965e-02,1.719487,1.552947,66.767347,179.994532,28.333837
std,1.003671,0.483036,0.494441,0.494569,0.242840,0.202433,0.374032,0.496427,0.602512,2.407998,15.381330,1.130886e-02,1.326744e-02,0.860221,1.354358,4.097215,47.575121,6.640913
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,18.000000,5.397605e-83,5.397605e-83,1.000000,1.000000,32.000000,15.454545,3.012282
25%,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,47.000000,5.700000e-03,1.140000e-02,1.000000,1.000000,64.000000,148.000000,24.081192
50%,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,60.000000,1.030000e-02,1.710000e-02,1.000000,1.000000,66.000000,175.000000,27.319164
75%,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,69.000000,2.000000e-02,2.490000e-02,3.000000,1.000000,70.000000,200.000000,31.258831
max,4.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,3.000000,30.000000,80.000000,1.900000e-01,1.950000e-01,3.000000,9.000000,91.000000,700.000000,182.329022

In [70]:
df = df[df["daily_veg"]  < 20]
df = df[df["daily_fruit"] < 20]
df = df[df["bp_meds"] // 6.0 < 1]
df.describe()

,high_bp,bp_meds,sex,high_chol,heart_attack,stroke,diabetes,smoke_100,smoke_freq,drinking,age,daily_fruit,daily_veg,weekly_phys,race,height,weight,BMI
count,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,2.969270e+05,2.969270e+05,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000
mean,2.134733,1.629138,1.574360,1.573501,0.062931,0.042812,0.168186,1.559673,2.773345,0.473514,57.593041,1.374188e-02,1.972965e-02,1.719487,1.552947,66.767347,179.994532,28.333837
std,1.003671,0.483036,0.494441,0.494569,0.242840,0.202433,0.374032,0.496427,0.602512,2.407998,15.381330,1.130886e-02,1.326744e-02,0.860221,1.354358,4.097215,47.575121,6.640913
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,18.000000,5.397605e-83,5.397605e-83,1.000000,1.000000,32.000000,15.454545,3.012282
25%,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,47.000000,5.700000e-03,1.140000e-02,1.000000,1.000000,64.000000,148.000000,24.081192
50%,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,60.000000,1.030000e-02,1.710000e-02,1.000000,1.000000,66.000000,175.000000,27.319164
75%,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,69.000000,2.000000e-02,2.490000e-02,3.000000,1.000000,70.000000,200.000000,31.258831
max,4.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,3.000000,30.000000,80.000000,1.900000e-01,1.950000e-01,3.000000,9.000000,91.000000,700.000000,182.329022

In [71]:
df = df[df["drinking"] <= 30]

In [72]:
df.describe()

,high_bp,bp_meds,sex,high_chol,heart_attack,stroke,diabetes,smoke_100,smoke_freq,drinking,age,daily_fruit,daily_veg,weekly_phys,race,height,weight,BMI
count,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,2.969270e+05,2.969270e+05,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000
mean,2.134733,1.629138,1.574360,1.573501,0.062931,0.042812,0.168186,1.559673,2.773345,0.473514,57.593041,1.374188e-02,1.972965e-02,1.719487,1.552947,66.767347,179.994532,28.333837
std,1.003671,0.483036,0.494441,0.494569,0.242840,0.202433,0.374032,0.496427,0.602512,2.407998,15.381330,1.130886e-02,1.326744e-02,0.860221,1.354358,4.097215,47.575121,6.640913
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,18.000000,5.397605e-83,5.397605e-83,1.000000,1.000000,32.000000,15.454545,3.012282
25%,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,47.000000,5.700000e-03,1.140000e-02,1.000000,1.000000,64.000000,148.000000,24.081192
50%,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,60.000000,1.030000e-02,1.710000e-02,1.000000,1.000000,66.000000,175.000000,27.319164
75%,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,69.000000,2.000000e-02,2.490000e-02,3.000000,1.000000,70.000000,200.000000,31.258831
max,4.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,3.000000,30.000000,80.000000,1.900000e-01,1.950000e-01,3.000000,9.000000,91.000000,700.000000,182.329022

In [73]:
df = df[df["BMI"] < 200]

In [74]:
df.describe()

,high_bp,bp_meds,sex,high_chol,heart_attack,stroke,diabetes,smoke_100,smoke_freq,drinking,age,daily_fruit,daily_veg,weekly_phys,race,height,weight,BMI
count,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000,2.969270e+05,2.969270e+05,296927.000000,296927.000000,296927.000000,296927.000000,296927.000000
mean,2.134733,1.629138,1.574360,1.573501,0.062931,0.042812,0.168186,1.559673,2.773345,0.473514,57.593041,1.374188e-02,1.972965e-02,1.719487,1.552947,66.767347,179.994532,28.333837
std,1.003671,0.483036,0.494441,0.494569,0.242840,0.202433,0.374032,0.496427,0.602512,2.407998,15.381330,1.130886e-02,1.326744e-02,0.860221,1.354358,4.097215,47.575121,6.640913
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,18.000000,5.397605e-83,5.397605e-83,1.000000,1.000000,32.000000,15.454545,3.012282
25%,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,47.000000,5.700000e-03,1.140000e-02,1.000000,1.000000,64.000000,148.000000,24.081192
50%,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,60.000000,1.030000e-02,1.710000e-02,1.000000,1.000000,66.000000,175.000000,27.319164
75%,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,69.000000,2.000000e-02,2.490000e-02,3.000000,1.000000,70.000000,200.000000,31.258831
max,4.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,3.000000,30.000000,80.000000,1.900000e-01,1.950000e-01,3.000000,9.000000,91.000000,700.000000,182.329022

In [75]:
df.head()

,high_bp,bp_meds,sex,high_chol,heart_attack,stroke,diabetes,smoke_100,smoke_freq,drinking,age,daily_fruit,daily_veg,weekly_phys,race,height,weight,BMI
0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0,3.0,0.0,63.0,0.0050,0.0217,3.0,1.0,70.0,280.0,40.259821
1,3.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,52.0,0.0024,0.0078,1.0,1.0,68.0,165.0,25.140621
3,1.0,1.0,2.0,1.0,0.0,0.0,0.0,2.0,3.0,0.0,63.0,0.0100,0.0020,3.0,1.0,67.0,180.0,28.250932
5,1.0,1.0,2.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,73.0,0.0200,0.0600,1.0,1.0,62.0,145.0,26.576299
6,1.0,1.0,2.0,1.0,0.0,0.0,0.0,2.0,3.0,0.0,70.0,0.0129,0.0114,1.0,4.0,66.0,148.0,23.937772

In [76]:
df["stroke"].replace({2: 0}, inplace = True)
df["heart_attack"].replace({2: 0}, inplace = True)
df["diabetes"].replace({2: 1, 4: 1, 3: 0}, inplace = True)

In [ ]:
df_age50to70 = df[(df["age"] >= 50) & (df["age"] <= 70)]
df_age50to70

In [79]:
test_model(1, [32, 32, 32], [1, 1, 1, 1], "stroke", 5)

Epoch 1/20
928/928 [==============================] - 1s 656us/step - loss: 0.6302 - acc: 0.9384
Epoch 2/20
928/928 [==============================] - 1s 606us/step - loss: 0.3590 - acc: 0.9481
Epoch 3/20
928/928 [==============================] - 1s 599us/step - loss: 0.2682 - acc: 0.9534
Epoch 4/20
928/928 [==============================] - 1s 609us/step - loss: 0.2284 - acc: 0.9548
Epoch 5/20
928/928 [==============================] - 1s 591us/step - loss: 0.2020 - acc: 0.9563
Epoch 6/20
928/928 [==============================] - 1s 589us/step - loss: 0.1911 - acc: 0.9566
Epoch 7/20
928/928 [==============================] - 1s 596us/step - loss: 0.1833 - acc: 0.9568
Epoch 8/20
928/928 [==============================] - 1s 597us/step - loss: 0.1826 - acc: 0.9568
Epoch 9/20
928/928 [==============================] - 1s 594us/step - loss: 0.1783 - acc: 0.9568
Epoch 10/20
928/928 [==============================] - 1s 588us/step - loss: 0.1755 - acc: 0.9569
Epoch 11/20
928/928 [==============================] - 1s 586us/step - loss: 0.1738 - acc: 0.9569
Epoch 12/20
928/928 [==============================] - 1s 588us/step - loss: 0.1731 - acc: 0.9570
Epoch 13/20
928/928 [==============================] - 1s 593us/step - loss: 0.1708 - acc: 0.9570
Epoch 14/20
928/928 [==============================] - 1s 586us/step - loss: 0.1703 - acc: 0.9570
Epoch 15/20
928/928 [==============================] - 1s 583us/step - loss: 0.1695 - acc: 0.9570
Epoch 16/20
928/928 [==============================] - 1s 580us/step - loss: 0.1697 - acc: 0.9570
Epoch 17/20
928/928 [==============================] - 1s 582us/step - loss: 0.1673 - acc: 0.9570
Epoch 18/20
928/928 [==============================] - 1s 582us/step - loss: 0.1675 - acc: 0.9570
Epoch 19/20
928/928 [==============================] - 1s 588us/step - loss: 0.1669 - acc: 0.9570
Epoch 20/20
928/928 [==============================] - 1s 585us/step - loss: 0.1671 - acc: 0.9570
1856/1856 [==============================] - 1s 402us/step
Epoch 1/20
696/696 [==============================] - 0s 606us/step - loss: 0.1666 - acc: 0.9569
Epoch 2/20
696/696 [==============================] - 0s 585us/step - loss: 0.1672 - acc: 0.9569
Epoch 3/20
696/696 [==============================] - 0s 595us/step - loss: 0.1666 - acc: 0.9569
Epoch 4/20
696/696 [==============================] - 0s 609us/step - loss: 0.1671 - acc: 0.9569
Epoch 5/20
696/696 [==============================] - 0s 591us/step - loss: 0.1666 - acc: 0.9569
Epoch 6/20
696/696 [==============================] - 0s 591us/step - loss: 0.1663 - acc: 0.9569
Epoch 7/20
696/696 [==============================] - 0s 608us/step - loss: 0.1662 - acc: 0.9569
Epoch 8/20
696/696 [==============================] - 0s 587us/step - loss: 0.1662 - acc: 0.9569
Epoch 9/20
696/696 [==============================] - 0s 594us/step - loss: 0.1658 - acc: 0.9569
Epoch 10/20
696/696 [==============================] - 0s 624us/step - loss: 0.1654 - acc: 0.9569
Epoch 11/20
696/696 [==============================] - 0s 583us/step - loss: 0.1654 - acc: 0.9569
Epoch 12/20
696/696 [==============================] - 0s 594us/step - loss: 0.1649 - acc: 0.9569
Epoch 13/20
696/696 [==============================] - 0s 609us/step - loss: 0.1653 - acc: 0.9569
Epoch 14/20
696/696 [==============================] - 0s 582us/step - loss: 0.1648 - acc: 0.9569
Epoch 15/20
696/696 [==============================] - 0s 593us/step - loss: 0.1650 - acc: 0.9569
Epoch 16/20
696/696 [==============================] - 0s 610us/step - loss: 0.1647 - acc: 0.9569
Epoch 17/20
696/696 [==============================] - 0s 591us/step - loss: 0.1646 - acc: 0.9569
Epoch 18/20
696/696 [==============================] - 0s 600us/step - loss: 0.1645 - acc: 0.9569
Epoch 19/20
696/696 [==============================] - 0s 602us/step - loss: 0.1641 - acc: 0.9569
Epoch 20/20
696/696 [==============================] - 0s 577us/step - loss: 0.1646 - acc: 0.9569
1856/1856 [==============================] - 1s 404us/step
Epoch 1/20
464/464 [==============================] - 0s 605us/step - loss: 0.1647 - acc: 0.9569
Epoch 2/20
464/464 [==============================] - 0s 593us/step - loss: 0.1645 - acc: 0.9569
Epoch 3/20
464/464 [==============================] - 0s 591us/step - loss: 0.1647 - acc: 0.9569
Epoch 4/20
464/464 [==============================] - 0s 603us/step - loss: 0.1647 - acc: 0.9569
Epoch 5/20
464/464 [==============================] - 0s 604us/step - loss: 0.1643 - acc: 0.9569
Epoch 6/20
464/464 [==============================] - 0s 594us/step - loss: 0.1650 - acc: 0.9569
Epoch 7/20
464/464 [==============================] - 0s 589us/step - loss: 0.1641 - acc: 0.9569
Epoch 8/20
464/464 [==============================] - 0s 588us/step - loss: 0.1647 - acc: 0.9569
Epoch 9/20
464/464 [==============================] - 0s 581us/step - loss: 0.1646 - acc: 0.9569
Epoch 10/20
464/464 [==============================] - 0s 598us/step - loss: 0.1641 - acc: 0.9569
Epoch 11/20
464/464 [==============================] - 0s 620us/step - loss: 0.1641 - acc: 0.9569
Epoch 12/20
464/464 [==============================] - 0s 588us/step - loss: 0.1646 - acc: 0.9569
Epoch 13/20
464/464 [==============================] - 0s 600us/step - loss: 0.1646 - acc: 0.9569
Epoch 14/20
464/464 [==============================] - 0s 599us/step - loss: 0.1638 - acc: 0.9569
Epoch 15/20
464/464 [==============================] - 0s 602us/step - loss: 0.1642 - acc: 0.9569
Epoch 16/20
464/464 [==============================] - 0s 591us/step - loss: 0.1637 - acc: 0.9569
Epoch 17/20
464/464 [==============================] - 0s 593us/step - loss: 0.1639 - acc: 0.9569
Epoch 18/20
464/464 [==============================] - 0s 583us/step - loss: 0.1641 - acc: 0.9569
Epoch 19/20
464/464 [==============================] - 0s 595us/step - loss: 0.1642 - acc: 0.9569
Epoch 20/20
464/464 [==============================] - 0s 595us/step - loss: 0.1640 - acc: 0.9569
1856/1856 [==============================] - 1s 405us/step
Epoch 1/20
232/232 [==============================] - 0s 634us/step - loss: 0.1649 - acc: 0.9566
Epoch 2/20
232/232 [==============================] - 0s 579us/step - loss: 0.1649 - acc: 0.9566
Epoch 3/20
232/232 [==============================] - 0s 608us/step - loss: 0.1643 - acc: 0.9566
Epoch 4/20
232/232 [==============================] - 0s 595us/step - loss: 0.1643 - acc: 0.9566
Epoch 5/20
232/232 [==============================] - 0s 601us/step - loss: 0.1643 - acc: 0.9566
Epoch 6/20
232/232 [==============================] - 0s 604us/step - loss: 0.1638 - acc: 0.9566
Epoch 7/20
232/232 [==============================] - 0s 582us/step - loss: 0.1646 - acc: 0.9566
Epoch 8/20
232/232 [==============================] - 0s 622us/step - loss: 0.1643 - acc: 0.9566
Epoch 9/20
232/232 [==============================] - 0s 570us/step - loss: 0.1644 - acc: 0.9566
Epoch 10/20
232/232 [==============================] - 0s 613us/step - loss: 0.1649 - acc: 0.9566
Epoch 11/20
232/232 [==============================] - 0s 707us/step - loss: 0.1644 - acc: 0.9566
Epoch 12/20
232/232 [==============================] - 0s 590us/step - loss: 0.1651 - acc: 0.9566
Epoch 13/20
232/232 [==============================] - 0s 614us/step - loss: 0.1645 - acc: 0.9566
Epoch 14/20
232/232 [==============================] - 0s 582us/step - loss: 0.1648 - acc: 0.9566
Epoch 15/20
232/232 [==============================] - 0s 617us/step - loss: 0.1647 - acc: 0.9566
Epoch 16/20
232/232 [==============================] - 0s 571us/step - loss: 0.1639 - acc: 0.9566
Epoch 17/20
232/232 [==============================] - 0s 621us/step - loss: 0.1652 - acc: 0.9566
Epoch 18/20
232/232 [==============================] - 0s 575us/step - loss: 0.1644 - acc: 0.9566
Epoch 19/20
232/232 [==============================] - 0s 610us/step - loss: 0.1645 - acc: 0.9566
Epoch 20/20
232/232 [==============================] - 0s 593us/step - loss: 0.1644 - acc: 0.9566
1856/1856 [==============================] - 1s 409us/step
Epoch 1/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0684 - acc: 1.0000
Epoch 2/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0163 - acc: 1.0000
Epoch 3/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0114 - acc: 1.0000
Epoch 4/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0089 - acc: 1.0000
Epoch 5/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0073 - acc: 1.0000
Epoch 6/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0062 - acc: 1.0000
Epoch 7/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0054 - acc: 1.0000
Epoch 8/20
1/1 [==============================] - 0s 4ms/step - loss: 0.0048 - acc: 1.0000
Epoch 9/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0043 - acc: 1.0000
Epoch 10/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0039 - acc: 1.0000
Epoch 11/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0036 - acc: 1.0000
Epoch 12/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0033 - acc: 1.0000
Epoch 13/20
1/1 [==============================] - 0s 4ms/step - loss: 0.0031 - acc: 1.0000
Epoch 14/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0029 - acc: 1.0000
Epoch 15/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0027 - acc: 1.0000
Epoch 16/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0026 - acc: 1.0000
Epoch 17/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0024 - acc: 1.0000
Epoch 18/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0023 - acc: 1.0000
Epoch 19/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0022 - acc: 1.0000
Epoch 20/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0021 - acc: 1.0000
1856/1856 [==============================] - 1s 411us/step

array([0.95842384, 0.95743033, 0.95692515, 0.95722826, 0.9566052 ])

In [ ]:
test_model(1, [32, 32, 32], [1, 1, 1, 1], "heart_attack", 5)

Epoch 1/20
928/928 [==============================] - 1s 605us/step - loss: 1.0488 - acc: 0.9020
Epoch 2/20
928/928 [==============================] - 1s 594us/step - loss: 0.3548 - acc: 0.9268
Epoch 3/20
928/928 [==============================] - 1s 587us/step - loss: 0.2641 - acc: 0.9345
Epoch 4/20
928/928 [==============================] - 1s 592us/step - loss: 0.2425 - acc: 0.9358
Epoch 5/20
928/928 [==============================] - 1s 623us/step - loss: 0.2326 - acc: 0.9362
Epoch 6/20
928/928 [==============================] - 1s 627us/step - loss: 0.2244 - acc: 0.9369
Epoch 7/20
928/928 [==============================] - 1s 622us/step - loss: 0.2206 - acc: 0.9371
Epoch 8/20
928/928 [==============================] - 1s 597us/step - loss: 0.2179 - acc: 0.9373
Epoch 9/20
928/928 [==============================] - 1s 604us/step - loss: 0.2173 - acc: 0.9372
Epoch 10/20
928/928 [==============================] - 1s 622us/step - loss: 0.2138 - acc: 0.9374
Epoch 11/20
928/928 [==============================] - 1s 611us/step - loss: 0.2139 - acc: 0.9373
Epoch 12/20
928/928 [==============================] - 1s 595us/step - loss: 0.2117 - acc: 0.9374
Epoch 13/20
928/928 [==============================] - 1s 695us/step - loss: 0.2112 - acc: 0.9375
Epoch 14/20
928/928 [==============================] - 1s 671us/step - loss: 0.2112 - acc: 0.9374
Epoch 15/20
928/928 [==============================] - 1s 693us/step - loss: 0.2109 - acc: 0.9373
Epoch 16/20
928/928 [==============================] - 1s 640us/step - loss: 0.2103 - acc: 0.9374
Epoch 17/20
928/928 [==============================] - 1s 645us/step - loss: 0.2091 - acc: 0.9374
Epoch 18/20
928/928 [==============================] - 1s 603us/step - loss: 0.2090 - acc: 0.9374
Epoch 19/20
928/928 [==============================] - 1s 603us/step - loss: 0.2085 - acc: 0.9375
Epoch 20/20
928/928 [==============================] - 1s 643us/step - loss: 0.2082 - acc: 0.9375
1856/1856 [==============================] - 1s 427us/step
Epoch 1/20
696/696 [==============================] - 0s 649us/step - loss: 0.2071 - acc: 0.9377
Epoch 2/20
696/696 [==============================] - 0s 605us/step - loss: 0.2071 - acc: 0.9377
Epoch 3/20
696/696 [==============================] - 0s 683us/step - loss: 0.2068 - acc: 0.9377
Epoch 4/20
696/696 [==============================] - 0s 597us/step - loss: 0.2064 - acc: 0.9378
Epoch 5/20
696/696 [==============================] - 0s 606us/step - loss: 0.2063 - acc: 0.9378
Epoch 6/20
696/696 [==============================] - 0s 675us/step - loss: 0.2062 - acc: 0.9377
Epoch 7/20
696/696 [==============================] - 0s 714us/step - loss: 0.2058 - acc: 0.9377
Epoch 8/20
696/696 [==============================] - 0s 617us/step - loss: 0.2064 - acc: 0.9377
Epoch 9/20
696/696 [==============================] - 0s 688us/step - loss: 0.2056 - acc: 0.9378
Epoch 10/20
696/696 [==============================] - 0s 594us/step - loss: 0.2053 - acc: 0.9377
Epoch 11/20
696/696 [==============================] - 0s 620us/step - loss: 0.2056 - acc: 0.9378
Epoch 12/20
696/696 [==============================] - 0s 644us/step - loss: 0.2051 - acc: 0.9377
Epoch 13/20
696/696 [==============================] - 0s 671us/step - loss: 0.2053 - acc: 0.9377
Epoch 14/20
696/696 [==============================] - 0s 710us/step - loss: 0.2051 - acc: 0.9378
Epoch 15/20
696/696 [==============================] - 0s 606us/step - loss: 0.2048 - acc: 0.9378
Epoch 16/20
696/696 [==============================] - 0s 611us/step - loss: 0.2051 - acc: 0.9378
Epoch 17/20
696/696 [==============================] - 0s 608us/step - loss: 0.2049 - acc: 0.9377
Epoch 18/20
696/696 [==============================] - 0s 589us/step - loss: 0.2049 - acc: 0.9377
Epoch 19/20
696/696 [==============================] - 0s 604us/step - loss: 0.2044 - acc: 0.9378
Epoch 20/20
696/696 [==============================] - 0s 600us/step - loss: 0.2047 - acc: 0.9378
1856/1856 [==============================] - 1s 410us/step
Epoch 1/20
464/464 [==============================] - 0s 679us/step - loss: 0.2029 - acc: 0.9383
Epoch 2/20
464/464 [==============================] - 0s 600us/step - loss: 0.2028 - acc: 0.9383
Epoch 3/20
464/464 [==============================] - 0s 604us/step - loss: 0.2034 - acc: 0.9383
Epoch 4/20
464/464 [==============================] - 0s 598us/step - loss: 0.2037 - acc: 0.9383
Epoch 5/20
464/464 [==============================] - 0s 598us/step - loss: 0.2035 - acc: 0.9382
Epoch 6/20
464/464 [==============================] - 0s 608us/step - loss: 0.2027 - acc: 0.9383
Epoch 7/20
464/464 [==============================] - 0s 614us/step - loss: 0.2031 - acc: 0.9383
Epoch 8/20
464/464 [==============================] - 0s 615us/step - loss: 0.2023 - acc: 0.9382
Epoch 9/20
464/464 [==============================] - 0s 613us/step - loss: 0.2033 - acc: 0.9383
Epoch 10/20
464/464 [==============================] - 0s 613us/step - loss: 0.2021 - acc: 0.9383
Epoch 11/20
464/464 [==============================] - 0s 603us/step - loss: 0.2025 - acc: 0.9383
Epoch 12/20
464/464 [==============================] - 0s 599us/step - loss: 0.2032 - acc: 0.9382
Epoch 13/20
464/464 [==============================] - 0s 603us/step - loss: 0.2027 - acc: 0.9383
Epoch 14/20
464/464 [==============================] - 0s 603us/step - loss: 0.2024 - acc: 0.9383
Epoch 15/20
464/464 [==============================] - 0s 612us/step - loss: 0.2024 - acc: 0.9382
Epoch 16/20
464/464 [==============================] - 0s 609us/step - loss: 0.2026 - acc: 0.9383
Epoch 17/20
464/464 [==============================] - 0s 612us/step - loss: 0.2028 - acc: 0.9383
Epoch 18/20
464/464 [==============================] - 0s 602us/step - loss: 0.2024 - acc: 0.9382
Epoch 19/20
464/464 [==============================] - 0s 608us/step - loss: 0.2026 - acc: 0.9382
Epoch 20/20
464/464 [==============================] - 0s 599us/step - loss: 0.2027 - acc: 0.9382
1856/1856 [==============================] - 1s 410us/step
Epoch 1/20
232/232 [==============================] - 0s 639us/step - loss: 0.2036 - acc: 0.9375
Epoch 2/20
232/232 [==============================] - 0s 606us/step - loss: 0.2042 - acc: 0.9375
Epoch 3/20
232/232 [==============================] - 0s 608us/step - loss: 0.2040 - acc: 0.9375
Epoch 4/20
232/232 [==============================] - 0s 616us/step - loss: 0.2034 - acc: 0.9375
Epoch 5/20
232/232 [==============================] - 0s 590us/step - loss: 0.2031 - acc: 0.9374
Epoch 6/20
232/232 [==============================] - 0s 639us/step - loss: 0.2041 - acc: 0.9374
Epoch 7/20
232/232 [==============================] - 0s 573us/step - loss: 0.2039 - acc: 0.9375
Epoch 8/20
232/232 [==============================] - 0s 630us/step - loss: 0.2039 - acc: 0.9374
Epoch 9/20
232/232 [==============================] - 0s 590us/step - loss: 0.2038 - acc: 0.9375
Epoch 10/20
232/232 [==============================] - 0s 631us/step - loss: 0.2032 - acc: 0.9376
Epoch 11/20
232/232 [==============================] - 0s 617us/step - loss: 0.2038 - acc: 0.9375
Epoch 12/20
232/232 [==============================] - 0s 593us/step - loss: 0.2034 - acc: 0.9375
Epoch 13/20
232/232 [==============================] - 0s 635us/step - loss: 0.2032 - acc: 0.9375
Epoch 14/20
232/232 [==============================] - 0s 572us/step - loss: 0.2033 - acc: 0.9375
Epoch 15/20
232/232 [==============================] - 0s 622us/step - loss: 0.2035 - acc: 0.9374
Epoch 16/20
232/232 [==============================] - 0s 591us/step - loss: 0.2031 - acc: 0.9375
Epoch 17/20
232/232 [==============================] - 0s 616us/step - loss: 0.2027 - acc: 0.9375
Epoch 18/20
232/232 [==============================] - 0s 623us/step - loss: 0.2041 - acc: 0.9374
Epoch 19/20
232/232 [==============================] - 0s 593us/step - loss: 0.2029 - acc: 0.9375
Epoch 20/20
232/232 [==============================] - 0s 630us/step - loss: 0.2036 - acc: 0.9376
1856/1856 [==============================] - 1s 411us/step
Epoch 1/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0938 - acc: 1.0000
Epoch 2/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0170 - acc: 1.0000
Epoch 3/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0125 - acc: 1.0000
Epoch 4/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0100 - acc: 1.0000
Epoch 5/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0083 - acc: 1.0000
Epoch 6/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0072 - acc: 1.0000
Epoch 7/20
1/1 [==============================] - 0s 5ms/step - loss: 0.0063 - acc: 1.0000
Epoch 8/20
1/1 [==============================] - 0s 4ms/step - loss: 0.0057 - acc: 1.0000
Epoch 9/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0051 - acc: 1.0000
Epoch 10/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0047 - acc: 1.0000
Epoch 11/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0043 - acc: 1.0000
Epoch 12/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0040 - acc: 1.0000
Epoch 13/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0037 - acc: 1.0000
Epoch 14/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0035 - acc: 1.0000
Epoch 15/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0033 - acc: 1.0000
Epoch 16/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0031 - acc: 1.0000
Epoch 17/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0029 - acc: 1.0000
Epoch 18/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0028 - acc: 1.0000
Epoch 19/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0027 - acc: 1.0000
Epoch 20/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0026 - acc: 1.0000
1856/1856 [==============================] - 1s 412us/step

array([0.93735792, 0.93713901, 0.93703797, 0.93921024, 0.93762735])

In [56]:
test_model(1, [32, 32, 32], [1, 1, 1, 1], "diabetes", 5)

Epoch 1/20
928/928 [==============================] - 1s 628us/step - loss: 1.6952 - acc: 0.7731
Epoch 2/20
928/928 [==============================] - 1s 625us/step - loss: 0.4401 - acc: 0.8250
Epoch 3/20
928/928 [==============================] - 1s 592us/step - loss: 0.4160 - acc: 0.8292
Epoch 4/20
928/928 [==============================] - 1s 628us/step - loss: 0.4093 - acc: 0.8307
Epoch 5/20
928/928 [==============================] - 1s 646us/step - loss: 0.4053 - acc: 0.8307
Epoch 6/20
928/928 [==============================] - 1s 608us/step - loss: 0.4028 - acc: 0.8306
Epoch 7/20
928/928 [==============================] - 1s 588us/step - loss: 0.4011 - acc: 0.8308
Epoch 8/20
928/928 [==============================] - 1s 587us/step - loss: 0.4003 - acc: 0.8310
Epoch 9/20
928/928 [==============================] - 1s 585us/step - loss: 0.3997 - acc: 0.8311
Epoch 10/20
928/928 [==============================] - 1s 632us/step - loss: 0.3982 - acc: 0.8315
Epoch 11/20
928/928 [==============================] - 1s 597us/step - loss: 0.3982 - acc: 0.8311
Epoch 12/20
928/928 [==============================] - 1s 608us/step - loss: 0.3971 - acc: 0.8314
Epoch 13/20
928/928 [==============================] - 1s 626us/step - loss: 0.3962 - acc: 0.8323
Epoch 14/20
928/928 [==============================] - 1s 626us/step - loss: 0.3962 - acc: 0.8314
Epoch 15/20
928/928 [==============================] - 1s 602us/step - loss: 0.3959 - acc: 0.8317
Epoch 16/20
928/928 [==============================] - 1s 605us/step - loss: 0.3956 - acc: 0.8318
Epoch 17/20
928/928 [==============================] - 1s 618us/step - loss: 0.3953 - acc: 0.8317
Epoch 18/20
928/928 [==============================] - 1s 616us/step - loss: 0.3948 - acc: 0.8321
Epoch 19/20
928/928 [==============================] - 1s 599us/step - loss: 0.3947 - acc: 0.8321
Epoch 20/20
928/928 [==============================] - 1s 619us/step - loss: 0.3941 - acc: 0.8323
1856/1856 [==============================] - 1s 413us/step
Epoch 1/20
696/696 [==============================] - 0s 597us/step - loss: 0.3944 - acc: 0.8319
Epoch 2/20
696/696 [==============================] - 0s 591us/step - loss: 0.3938 - acc: 0.8322
Epoch 3/20
696/696 [==============================] - 0s 616us/step - loss: 0.3942 - acc: 0.8319
Epoch 4/20
696/696 [==============================] - 0s 608us/step - loss: 0.3941 - acc: 0.8321
Epoch 5/20
696/696 [==============================] - 0s 611us/step - loss: 0.3937 - acc: 0.8320
Epoch 6/20
696/696 [==============================] - 2s 3ms/step - loss: 0.3941 - acc: 0.8320
Epoch 7/20
696/696 [==============================] - 0s 647us/step - loss: 0.3930 - acc: 0.8321
Epoch 8/20
696/696 [==============================] - 0s 627us/step - loss: 0.3931 - acc: 0.8317
Epoch 9/20
696/696 [==============================] - 0s 607us/step - loss: 0.3939 - acc: 0.8321
Epoch 10/20
696/696 [==============================] - 0s 599us/step - loss: 0.3922 - acc: 0.8324
Epoch 11/20
696/696 [==============================] - 0s 596us/step - loss: 0.3931 - acc: 0.8321
Epoch 12/20
696/696 [==============================] - 0s 583us/step - loss: 0.3929 - acc: 0.8322
Epoch 13/20
696/696 [==============================] - 0s 594us/step - loss: 0.3930 - acc: 0.8324
Epoch 14/20
696/696 [==============================] - 0s 608us/step - loss: 0.3924 - acc: 0.8325
Epoch 15/20
696/696 [==============================] - 0s 580us/step - loss: 0.3930 - acc: 0.8325
Epoch 16/20
696/696 [==============================] - 0s 599us/step - loss: 0.3921 - acc: 0.8325
Epoch 17/20
696/696 [==============================] - 0s 592us/step - loss: 0.3925 - acc: 0.8322
Epoch 18/20
696/696 [==============================] - 0s 584us/step - loss: 0.3920 - acc: 0.8323
Epoch 19/20
696/696 [==============================] - 0s 601us/step - loss: 0.3925 - acc: 0.8327
Epoch 20/20
696/696 [==============================] - 0s 591us/step - loss: 0.3927 - acc: 0.8326
1856/1856 [==============================] - 1s 409us/step
Epoch 1/20
464/464 [==============================] - 0s 611us/step - loss: 0.3897 - acc: 0.8339
Epoch 2/20
464/464 [==============================] - 0s 604us/step - loss: 0.3907 - acc: 0.8334
Epoch 3/20
464/464 [==============================] - 0s 601us/step - loss: 0.3898 - acc: 0.8340
Epoch 4/20
464/464 [==============================] - 0s 591us/step - loss: 0.3893 - acc: 0.8342
Epoch 5/20
464/464 [==============================] - 0s 593us/step - loss: 0.3905 - acc: 0.8334
Epoch 6/20
464/464 [==============================] - 0s 597us/step - loss: 0.3903 - acc: 0.8337
Epoch 7/20
464/464 [==============================] - 0s 596us/step - loss: 0.3912 - acc: 0.8336
Epoch 8/20
464/464 [==============================] - 0s 603us/step - loss: 0.3896 - acc: 0.8335
Epoch 9/20
464/464 [==============================] - 0s 609us/step - loss: 0.3893 - acc: 0.8343
Epoch 10/20
464/464 [==============================] - 0s 614us/step - loss: 0.3897 - acc: 0.8336
Epoch 11/20
464/464 [==============================] - 0s 602us/step - loss: 0.3893 - acc: 0.8336
Epoch 12/20
464/464 [==============================] - 0s 588us/step - loss: 0.3895 - acc: 0.8341
Epoch 13/20
464/464 [==============================] - 0s 602us/step - loss: 0.3904 - acc: 0.8339
Epoch 14/20
464/464 [==============================] - 0s 593us/step - loss: 0.3894 - acc: 0.8339
Epoch 15/20
464/464 [==============================] - 0s 592us/step - loss: 0.3890 - acc: 0.8341
Epoch 16/20
464/464 [==============================] - 0s 593us/step - loss: 0.3893 - acc: 0.8344
Epoch 17/20
464/464 [==============================] - 0s 607us/step - loss: 0.3903 - acc: 0.8339
Epoch 18/20
464/464 [==============================] - 0s 596us/step - loss: 0.3895 - acc: 0.8343
Epoch 19/20
464/464 [==============================] - 0s 604us/step - loss: 0.3893 - acc: 0.8339
Epoch 20/20
464/464 [==============================] - 0s 594us/step - loss: 0.3897 - acc: 0.8342
1856/1856 [==============================] - 1s 403us/step
Epoch 1/20
232/232 [==============================] - 0s 613us/step - loss: 0.3924 - acc: 0.8322
Epoch 2/20
232/232 [==============================] - 0s 589us/step - loss: 0.3920 - acc: 0.8326
Epoch 3/20
232/232 [==============================] - 0s 639us/step - loss: 0.3914 - acc: 0.8326
Epoch 4/20
232/232 [==============================] - 0s 583us/step - loss: 0.3920 - acc: 0.8320
Epoch 5/20
232/232 [==============================] - 0s 621us/step - loss: 0.3911 - acc: 0.8321
Epoch 6/20
232/232 [==============================] - 0s 577us/step - loss: 0.3917 - acc: 0.8321
Epoch 7/20
232/232 [==============================] - 0s 635us/step - loss: 0.3916 - acc: 0.8320
Epoch 8/20
232/232 [==============================] - 0s 584us/step - loss: 0.3918 - acc: 0.8336
Epoch 9/20
232/232 [==============================] - 0s 612us/step - loss: 0.3919 - acc: 0.8322
Epoch 10/20
232/232 [==============================] - 0s 695us/step - loss: 0.3923 - acc: 0.8318
Epoch 11/20
232/232 [==============================] - 0s 628us/step - loss: 0.3917 - acc: 0.8322
Epoch 12/20
232/232 [==============================] - 0s 637us/step - loss: 0.3919 - acc: 0.8324
Epoch 13/20
232/232 [==============================] - 0s 599us/step - loss: 0.3914 - acc: 0.8332
Epoch 14/20
232/232 [==============================] - 0s 626us/step - loss: 0.3915 - acc: 0.8321
Epoch 15/20
232/232 [==============================] - 0s 625us/step - loss: 0.3913 - acc: 0.8324
Epoch 16/20
232/232 [==============================] - 0s 586us/step - loss: 0.3926 - acc: 0.8314
Epoch 17/20
232/232 [==============================] - 0s 621us/step - loss: 0.3918 - acc: 0.8324
Epoch 18/20
232/232 [==============================] - 0s 568us/step - loss: 0.3918 - acc: 0.8324
Epoch 19/20
232/232 [==============================] - 0s 625us/step - loss: 0.3919 - acc: 0.8323
Epoch 20/20
232/232 [==============================] - 0s 576us/step - loss: 0.3915 - acc: 0.8329
1856/1856 [==============================] - 1s 403us/step
Epoch 1/20
1/1 [==============================] - 0s 3ms/step - loss: 0.6987 - acc: 0.5000
Epoch 2/20
1/1 [==============================] - 0s 2ms/step - loss: 0.5592 - acc: 0.5000
Epoch 3/20
1/1 [==============================] - 0s 2ms/step - loss: 0.1859 - acc: 1.0000
Epoch 4/20
1/1 [==============================] - 0s 2ms/step - loss: 0.1488 - acc: 1.0000
Epoch 5/20
1/1 [==============================] - 0s 2ms/step - loss: 0.1250 - acc: 1.0000
Epoch 6/20
1/1 [==============================] - 0s 2ms/step - loss: 0.1077 - acc: 1.0000
Epoch 7/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0946 - acc: 1.0000
Epoch 8/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0843 - acc: 1.0000
Epoch 9/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0759 - acc: 1.0000
Epoch 10/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0690 - acc: 1.0000
Epoch 11/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0633 - acc: 1.0000
Epoch 12/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0584 - acc: 1.0000
Epoch 13/20
1/1 [==============================] - 0s 4ms/step - loss: 0.0542 - acc: 1.0000
Epoch 14/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0506 - acc: 1.0000
Epoch 15/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0474 - acc: 1.0000
Epoch 16/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0446 - acc: 1.0000
Epoch 17/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0421 - acc: 1.0000
Epoch 18/20
1/1 [==============================] - 0s 4ms/step - loss: 0.0399 - acc: 1.0000
Epoch 19/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0379 - acc: 1.0000
Epoch 20/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0360 - acc: 1.0000
1856/1856 [==============================] - 1s 424us/step

array([0.83276922, 0.83287025, 0.83015913, 0.83578345, 0.70371306])

In [47]:
df["diabetes"].value_counts()

3.0    246988
1.0     42095
4.0      5546
2.0      2298
Name: diabetes, dtype: int64

In [51]:
def test_model(hidden_layers, nodes, biases, disease, folds = 5):
    # assert hidden_layers == len(nodes) - 1 or hidden_layers == 0
    # assert hidden_layers == len(biases) - 2 or hidden_layers == 0
    ##Create func_model from params
    tf.random.set_seed(42)
    func_model = Sequential()
    ##Input layer
    func_model.add(Dense(nodes[0], use_bias = biases[0], input_dim = 15))
    ##Hidden layers
    if hidden_layers != 0:
        for i in range(hidden_layers - 2):
            func_model.add(Dense(nodes[i + 1], use_bias = biases[i + 1]))
    ##Output layers
    func_model.add(Dense(1, use_bias=biases[hidden_layers + 1], activation='sigmoid'))
    func_model.compile(loss="binary_crossentropy", optimizer=tf.keras.optimizers.SGD(
    learning_rate=0.001, momentum=0.0, nesterov=False, name="SGD"), metrics=['acc'])
    accuracy = np.ones(folds)
    #Splits for cross validation
    shuffled = df.sample(len(df.index), replace=True)
    fold_size = len(shuffled.index) // folds
    ##Cross-validation
    for i in range(folds):
        test_fold = shuffled.iloc[i * fold_size:(i + 1) * fold_size]
        rest = shuffled.iloc[(i + 1) * fold_size:]
        test_y = test_fold[disease]
        rest_y = rest[disease]
        vec = DictVectorizer()
        train_dict = rest.drop(_diseases, axis = 1).to_dict('records')
        train_vectorized = vec.fit_transform(train_dict).toarray()
        test_dict = test_fold.drop(_diseases, axis = 1).to_dict('records')
        test_vectorized = vec.fit_transform(test_dict).toarray()
        func_model.fit(train_vectorized, rest_y, epochs=20, batch_size=256, verbose = 1)
        test_pred = func_model.predict(test_vectorized)
        test_pred = test_pred.reshape(-1)
        accuracy[i] = np.count_nonzero(np.round(test_y) == np.round(test_pred)) / len(test_pred)
    return accuracy

In [59]:
# old people
test_model_age_filtered(1, [32, 32, 32], [1, 1, 1, 1], "stroke", 5)

Epoch 1/20
460/460 [==============================] - 1s 676us/step - loss: 0.9050 - acc: 0.9373
Epoch 2/20
460/460 [==============================] - 0s 608us/step - loss: 0.5978 - acc: 0.9428
Epoch 3/20
460/460 [==============================] - 0s 608us/step - loss: 0.4144 - acc: 0.9486
Epoch 4/20
460/460 [==============================] - 0s 607us/step - loss: 0.3038 - acc: 0.9542
Epoch 5/20
460/460 [==============================] - 0s 752us/step - loss: 0.2828 - acc: 0.9545
Epoch 6/20
460/460 [==============================] - 0s 812us/step - loss: 0.2292 - acc: 0.9571
Epoch 7/20
460/460 [==============================] - 0s 632us/step - loss: 0.2066 - acc: 0.9580
Epoch 8/20
460/460 [==============================] - 0s 574us/step - loss: 0.2114 - acc: 0.9578
Epoch 9/20
460/460 [==============================] - 0s 584us/step - loss: 0.1961 - acc: 0.9583
Epoch 10/20
460/460 [==============================] - 0s 572us/step - loss: 0.1987 - acc: 0.9581
Epoch 11/20
460/460 [==============================] - 0s 575us/step - loss: 0.1876 - acc: 0.9584
Epoch 12/20
460/460 [==============================] - 0s 584us/step - loss: 0.1929 - acc: 0.9580
Epoch 13/20
460/460 [==============================] - 0s 571us/step - loss: 0.1861 - acc: 0.9583
Epoch 14/20
460/460 [==============================] - 0s 581us/step - loss: 0.1871 - acc: 0.9584
Epoch 15/20
460/460 [==============================] - 0s 612us/step - loss: 0.1818 - acc: 0.9584
Epoch 16/20
460/460 [==============================] - 0s 796us/step - loss: 0.1784 - acc: 0.9585
Epoch 17/20
460/460 [==============================] - 0s 623us/step - loss: 0.1812 - acc: 0.9584
Epoch 18/20
460/460 [==============================] - 0s 600us/step - loss: 0.1789 - acc: 0.9585
Epoch 19/20
460/460 [==============================] - 0s 593us/step - loss: 0.1774 - acc: 0.9585
Epoch 20/20
460/460 [==============================] - 0s 699us/step - loss: 0.1756 - acc: 0.9585
919/919 [==============================] - 1s 506us/step
Epoch 1/20
345/345 [==============================] - 0s 611us/step - loss: 0.1750 - acc: 0.9583
Epoch 2/20
345/345 [==============================] - 0s 646us/step - loss: 0.1727 - acc: 0.9583
Epoch 3/20
345/345 [==============================] - 0s 605us/step - loss: 0.1737 - acc: 0.9583
Epoch 4/20
345/345 [==============================] - 0s 598us/step - loss: 0.1732 - acc: 0.9583
Epoch 5/20
345/345 [==============================] - 0s 594us/step - loss: 0.1714 - acc: 0.9584
Epoch 6/20
345/345 [==============================] - 0s 596us/step - loss: 0.1729 - acc: 0.9583
Epoch 7/20
345/345 [==============================] - 0s 600us/step - loss: 0.1721 - acc: 0.9583
Epoch 8/20
345/345 [==============================] - 0s 607us/step - loss: 0.1743 - acc: 0.9582
Epoch 9/20
345/345 [==============================] - 0s 603us/step - loss: 0.1747 - acc: 0.9582
Epoch 10/20
345/345 [==============================] - 0s 608us/step - loss: 0.1713 - acc: 0.9583
Epoch 11/20
345/345 [==============================] - 0s 590us/step - loss: 0.1715 - acc: 0.9583
Epoch 12/20
345/345 [==============================] - 0s 602us/step - loss: 0.1717 - acc: 0.9583
Epoch 13/20
345/345 [==============================] - 0s 605us/step - loss: 0.1692 - acc: 0.9584
Epoch 14/20
345/345 [==============================] - 0s 613us/step - loss: 0.1712 - acc: 0.9583
Epoch 15/20
345/345 [==============================] - 0s 625us/step - loss: 0.1680 - acc: 0.9584
Epoch 16/20
345/345 [==============================] - 0s 602us/step - loss: 0.1694 - acc: 0.9584
Epoch 17/20
345/345 [==============================] - 0s 588us/step - loss: 0.1703 - acc: 0.9584
Epoch 18/20
345/345 [==============================] - 0s 598us/step - loss: 0.1694 - acc: 0.9584
Epoch 19/20
345/345 [==============================] - 0s 614us/step - loss: 0.1693 - acc: 0.9584
Epoch 20/20
345/345 [==============================] - 0s 620us/step - loss: 0.1689 - acc: 0.9583
919/919 [==============================] - 0s 414us/step
Epoch 1/20
230/230 [==============================] - 0s 643us/step - loss: 0.1701 - acc: 0.9580
Epoch 2/20
230/230 [==============================] - 0s 584us/step - loss: 0.1706 - acc: 0.9579
Epoch 3/20
230/230 [==============================] - 0s 613us/step - loss: 0.1683 - acc: 0.9580
Epoch 4/20
230/230 [==============================] - 0s 620us/step - loss: 0.1691 - acc: 0.9581
Epoch 5/20
230/230 [==============================] - 0s 591us/step - loss: 0.1686 - acc: 0.9580
Epoch 6/20
230/230 [==============================] - 0s 622us/step - loss: 0.1686 - acc: 0.9580
Epoch 7/20
230/230 [==============================] - 0s 591us/step - loss: 0.1687 - acc: 0.9580
Epoch 8/20
230/230 [==============================] - 0s 624us/step - loss: 0.1689 - acc: 0.9580
Epoch 9/20
230/230 [==============================] - 0s 591us/step - loss: 0.1689 - acc: 0.9580
Epoch 10/20
230/230 [==============================] - 0s 611us/step - loss: 0.1687 - acc: 0.9580
Epoch 11/20
230/230 [==============================] - 0s 600us/step - loss: 0.1687 - acc: 0.9580
Epoch 12/20
230/230 [==============================] - 0s 614us/step - loss: 0.1695 - acc: 0.9579
Epoch 13/20
230/230 [==============================] - 0s 617us/step - loss: 0.1685 - acc: 0.9580
Epoch 14/20
230/230 [==============================] - 0s 590us/step - loss: 0.1679 - acc: 0.9580
Epoch 15/20
230/230 [==============================] - 0s 626us/step - loss: 0.1701 - acc: 0.9580
Epoch 16/20
230/230 [==============================] - 0s 586us/step - loss: 0.1685 - acc: 0.9580
Epoch 17/20
230/230 [==============================] - 0s 627us/step - loss: 0.1687 - acc: 0.9580
Epoch 18/20
230/230 [==============================] - 0s 598us/step - loss: 0.1673 - acc: 0.9580
Epoch 19/20
230/230 [==============================] - 0s 593us/step - loss: 0.1674 - acc: 0.9580
Epoch 20/20
230/230 [==============================] - 0s 623us/step - loss: 0.1684 - acc: 0.9580
919/919 [==============================] - 0s 410us/step
Epoch 1/20
115/115 [==============================] - 0s 705us/step - loss: 0.1678 - acc: 0.9580
Epoch 2/20
115/115 [==============================] - 0s 621us/step - loss: 0.1653 - acc: 0.9580
Epoch 3/20
115/115 [==============================] - 0s 583us/step - loss: 0.1662 - acc: 0.9580
Epoch 4/20
115/115 [==============================] - 0s 627us/step - loss: 0.1658 - acc: 0.9580
Epoch 5/20
115/115 [==============================] - 0s 658us/step - loss: 0.1677 - acc: 0.9580
Epoch 6/20
115/115 [==============================] - 0s 600us/step - loss: 0.1669 - acc: 0.9580
Epoch 7/20
115/115 [==============================] - 0s 642us/step - loss: 0.1681 - acc: 0.9580
Epoch 8/20
115/115 [==============================] - 0s 688us/step - loss: 0.1654 - acc: 0.9580
Epoch 9/20
115/115 [==============================] - 0s 594us/step - loss: 0.1683 - acc: 0.9580
Epoch 10/20
115/115 [==============================] - 0s 575us/step - loss: 0.1673 - acc: 0.9580
Epoch 11/20
115/115 [==============================] - 0s 673us/step - loss: 0.1668 - acc: 0.9579
Epoch 12/20
115/115 [==============================] - 0s 619us/step - loss: 0.1670 - acc: 0.9579
Epoch 13/20
115/115 [==============================] - 0s 577us/step - loss: 0.1664 - acc: 0.9580
Epoch 14/20
115/115 [==============================] - 0s 605us/step - loss: 0.1662 - acc: 0.9580
Epoch 15/20
115/115 [==============================] - 0s 662us/step - loss: 0.1669 - acc: 0.9580
Epoch 16/20
115/115 [==============================] - 0s 581us/step - loss: 0.1662 - acc: 0.9580
Epoch 17/20
115/115 [==============================] - 0s 575us/step - loss: 0.1665 - acc: 0.9580
Epoch 18/20
115/115 [==============================] - 0s 608us/step - loss: 0.1663 - acc: 0.9580
Epoch 19/20
115/115 [==============================] - 0s 653us/step - loss: 0.1669 - acc: 0.9580
Epoch 20/20
115/115 [==============================] - 0s 594us/step - loss: 0.1665 - acc: 0.9580
919/919 [==============================] - 0s 417us/step
Epoch 1/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0339 - acc: 1.0000
Epoch 2/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0117 - acc: 1.0000
Epoch 3/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0081 - acc: 1.0000
Epoch 4/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0063 - acc: 1.0000
Epoch 5/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0052 - acc: 1.0000
Epoch 6/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0045 - acc: 1.0000
Epoch 7/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0039 - acc: 1.0000
Epoch 8/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0035 - acc: 1.0000
Epoch 9/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0031 - acc: 1.0000
Epoch 10/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0028 - acc: 1.0000
Epoch 11/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0026 - acc: 1.0000
Epoch 12/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0024 - acc: 1.0000
Epoch 13/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0023 - acc: 1.0000
Epoch 14/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0021 - acc: 1.0000
Epoch 15/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0020 - acc: 1.0000
Epoch 16/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0019 - acc: 1.0000
Epoch 17/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0018 - acc: 1.0000
Epoch 18/20
1/1 [==============================] - 0s 3ms/step - loss: 0.0017 - acc: 1.0000
Epoch 19/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0016 - acc: 1.0000
Epoch 20/20
1/1 [==============================] - 0s 2ms/step - loss: 0.0015 - acc: 1.0000
919/919 [==============================] - 0s 417us/step

array([0.95723035, 0.95944199, 0.95903368, 0.95811501, 0.9579789 ])

In [57]:
def test_model_age_filtered(hidden_layers, nodes, biases, disease, folds = 5):
    # assert hidden_layers == len(nodes) - 1 or hidden_layers == 0
    # assert hidden_layers == len(biases) - 2 or hidden_layers == 0
    ##Create func_model from params
    tf.random.set_seed(42)
    func_model = Sequential()
    ##Input layer
    func_model.add(Dense(nodes[0], use_bias = biases[0], input_dim = 15))
    ##Hidden layers
    if hidden_layers != 0:
        for i in range(hidden_layers - 2):
            func_model.add(Dense(nodes[i + 1], use_bias = biases[i + 1]))
    ##Output layers
    func_model.add(Dense(1, use_bias=biases[hidden_layers + 1], activation='sigmoid'))
    func_model.compile(loss="binary_crossentropy", optimizer=tf.keras.optimizers.SGD(
    learning_rate=0.001, momentum=0.0, nesterov=False, name="SGD"), metrics=['acc'])
    accuracy = np.ones(folds)
    #Splits for cross validation
    shuffled = df_age50to70.sample(len(df_age50to70.index), replace=True)
    fold_size = len(shuffled.index) // folds
    ##Cross-validation
    for i in range(folds):
        test_fold = shuffled.iloc[i * fold_size:(i + 1) * fold_size]
        rest = shuffled.iloc[(i + 1) * fold_size:]
        test_y = test_fold[disease]
        rest_y = rest[disease]
        vec = DictVectorizer()
        train_dict = rest.drop(_diseases, axis = 1).to_dict('records')
        train_vectorized = vec.fit_transform(train_dict).toarray()
        test_dict = test_fold.drop(_diseases, axis = 1).to_dict('records')
        test_vectorized = vec.fit_transform(test_dict).toarray()
        func_model.fit(train_vectorized, rest_y, epochs=20, batch_size=256, verbose = 1)
        test_pred = func_model.predict(test_vectorized)
        test_pred = test_pred.reshape(-1)
        accuracy[i] = np.count_nonzero(np.round(test_y) == np.round(test_pred)) / len(test_pred)
    return accuracy

In [90]:
def test_diabetes_model(hidden_layers, nodes, biases, disease = 'diabetes', folds = 5):
    # assert hidden_layers == len(nodes) - 1 or hidden_layers == 0
    # assert hidden_layers == len(biases) - 2 or hidden_layers == 0
    ##Create func_model from params
    tf.random.set_seed(42)
    func_model = Sequential()
    ##Input layer
    func_model.add(Dense(nodes[0], use_bias = biases[0], input_dim = 15))
    ##Hidden layers
    if hidden_layers != 0:
        for i in range(hidden_layers - 2):
            func_model.add(Dense(nodes[i + 1], use_bias = biases[i + 1]))
    ##Output layers
    func_model.add(Dense(3, use_bias=biases[hidden_layers + 1], activation='sigmoid'))
    func_model.compile(loss="binary_crossentropy", optimizer=tf.keras.optimizers.SGD(
    learning_rate=0.001, momentum=0.0, nesterov=False, name="SGD"), metrics=['acc'])
    accuracy = np.ones(folds)
    #Splits for cross validation
    shuffled = df.sample(len(df.index), replace=True)
    shuffled["diabetes"].replace({1: 'Yes', 2: 'Kinda', 3: 'No', 4: 'Kinda'}, inplace = True)
    fold_size = len(shuffled.index) // folds
    ##Cross-validation
    for i in range(folds):
        test_fold = shuffled.iloc[i * fold_size:(i + 1) * fold_size]
        rest = shuffled.iloc[(i + 1) * fold_size:]
        test_y = test_fold[[disease]]
        rest_y = rest[[disease]]
        vec = DictVectorizer()
        test_y_dict = test_y.to_dict('records')
        test_y_vec = vec.fit_transform(test_y_dict).toarray()
        rest_y_dict = test_y.to_dict('records')
        rest_y_vec = vec.fit_transform(rest_y_dict).toarray()
        train_dict = rest.drop(_diseases, axis = 1).to_dict('records')
        train_vectorized = vec.fit_transform(train_dict).toarray()
        test_dict = test_fold.drop(_diseases, axis = 1).to_dict('records')
        test_vectorized = vec.fit_transform(test_dict).toarray()
        func_model.fit(train_vectorized, rest_y, epochs=20, batch_size=256, verbose = 1)
        test_pred = func_model.predict(test_vectorized)
        test_pred = test_pred.reshape(-1)
        accuracy[i] = np.count_nonzero(np.round(test_y) == np.round(test_pred)) / len(test_pred)
    return accuracy

In [91]:
test_diabetes_model(2, [32, 32, 32], [1, 1, 1, 1])

Epoch 1/20

ValueError: in user code:

    File "/Users/willrathgeb/opt/anaconda3/envs/deep_learning/lib/python3.10/site-packages/keras/engine/training.py", line 1051, in train_function  *
        return step_function(self, iterator)
    File "/Users/willrathgeb/opt/anaconda3/envs/deep_learning/lib/python3.10/site-packages/keras/engine/training.py", line 1040, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/Users/willrathgeb/opt/anaconda3/envs/deep_learning/lib/python3.10/site-packages/keras/engine/training.py", line 1030, in run_step  **
        outputs = model.train_step(data)
    File "/Users/willrathgeb/opt/anaconda3/envs/deep_learning/lib/python3.10/site-packages/keras/engine/training.py", line 890, in train_step
        loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "/Users/willrathgeb/opt/anaconda3/envs/deep_learning/lib/python3.10/site-packages/keras/engine/training.py", line 948, in compute_loss
        return self.compiled_loss(
    File "/Users/willrathgeb/opt/anaconda3/envs/deep_learning/lib/python3.10/site-packages/keras/engine/compile_utils.py", line 201, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "/Users/willrathgeb/opt/anaconda3/envs/deep_learning/lib/python3.10/site-packages/keras/losses.py", line 139, in __call__
        losses = call_fn(y_true, y_pred)
    File "/Users/willrathgeb/opt/anaconda3/envs/deep_learning/lib/python3.10/site-packages/keras/losses.py", line 243, in call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "/Users/willrathgeb/opt/anaconda3/envs/deep_learning/lib/python3.10/site-packages/keras/losses.py", line 1930, in binary_crossentropy
        backend.binary_crossentropy(y_true, y_pred, from_logits=from_logits),
    File "/Users/willrathgeb/opt/anaconda3/envs/deep_learning/lib/python3.10/site-packages/keras/backend.py", line 5283, in binary_crossentropy
        return tf.nn.sigmoid_cross_entropy_with_logits(labels=target, logits=output)

    ValueError: `logits` and `labels` must have the same shape, received ((None, 3) vs (None, 1)).

,high_bp,bp_meds,sex,high_chol,heart_attack,stroke,diabetes,smoke_100,smoke_freq,drinking,age,daily_fruit,daily_veg,weekly_phys,race,height,weight,BMI
0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0,3.0,0.0,63.0,0.50,2.17,3.0,1.0,70.0,280.0,40.259821
1,3.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,52.0,0.24,0.78,1.0,1.0,68.0,165.0,25.140621
3,1.0,1.0,2.0,1.0,0.0,0.0,0.0,2.0,3.0,0.0,63.0,1.00,0.20,3.0,1.0,67.0,180.0,28.250932
6,1.0,1.0,2.0,1.0,0.0,0.0,0.0,2.0,3.0,0.0,70.0,1.29,1.14,1.0,4.0,66.0,148.0,23.937772
9,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,3.0,0.0,68.0,1.14,3.14,1.0,1.0,67.0,161.0,25.268890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441441,1.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,63.0,0.14,1.71,3.0,5.0,72.0,230.0,31.258831
441442,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,3.0,0.0,59.0,0.29,0.85,3.0,5.0,66.0,145.0,23.452547
441445,3.0,2.0,1.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,68.0,0.60,1.07,3.0,5.0,75.0,220.0,27.555611
441454,1.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,52.0,2.00,1.35,3.0,5.0,71.0,166.0,23.200710
441455,1.0,1.0,2.0,1.0,1.0,0.0,1.0,2.0,3.0,0.0,63.0,2.00,0.71,2.0,5.0,62.0,135.0,24.743451